@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #EFEFEF;
}

.nav-active{
    background-color: #fff;
    border-radius: 10px;
}
.fondo{
    background: rgb(252,252,252);
    background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(215,215,215,1) 100%);
}